.error {
  width: 70vw;
  padding: 3rem 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey-light-1);
  background-color: rgba(#101d2c, 0.8);
}

.single-room {
  padding: var(--section-padding);
  font-size: 1.4rem;
  font-weight: 600;

  @media only screen and (max-width: 50em) {
    padding: 6rem 4rem 6rem 4rem;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
  }

  &__description {
    display: grid;
    row-gap: 2rem;
  }

  &__detail {
    display: grid;
    row-gap: 2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 2rem;
  }
}

.room-extras {
  font-size: 1.4rem;
  padding: 0 4rem 6rem 4rem;
  font-weight: 600;

  h6 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 1rem;
  }

  li {
    list-style-type: '-';
  }
}
