.services {
  padding: var(--section-padding);
  text-align: center;

  &__detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
}

.service {
  padding: 2rem 5rem;
  text-align: center;
  font-size: 1.4rem;

  &__icon {
    display: inline-block;
    color: var(--color-primary);
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
}
